* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
}

p,
li {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

img {
  border-radius: 5px;
}

button {
  cursor: pointer;
}

@media only screen and (min-width: 100px) {
  /* Buttons */
  .primary-btn,
  .secondary-btn {
    padding: 0.25vh 5vw;
    border-radius: 5px;
    border: none;
    font-size: 1.75rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 300;
    transition: background 0.25s ease-in, color 0.25s ease-in,
      border 0.25s ease-in;
  }

  .primary-btn {
    background-color: #045f63;
    color: white;
    text-shadow: 0px 0px 10px #324b4d;
  }

  .secondary-btn {
    background-color: transparent;
    border: 2px solid white;
    color: white;
  }

  .primary-btn:hover {
    background-color: #324b4d;
    color: white;
  }

  .secondary-btn:hover {
    background-color: #324b4d;
    border: 2px solid transparent;
  }

  /*   Navigation - Mobile     */
  .header {
    width: 100%;
    min-height: 8vh;
    background-color: none;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 0.5s ease;
  }

  .skip-navigation {
    background-color: #045f63;
    color: white;
    text-decoration: none;
    padding: 0.5vh 1vw;
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5rem;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    left: 0;
  }

  .skip-navigation:focus {
    transform: translateY(0);
  }

  .branding,
  .header {
    display: flex;
    flex-direction: row;
  }

  .branding {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .branding h1 {
    font-size: 1.75rem;
    letter-spacing: 2px;
    color: white;
    user-select: none;
    cursor: pointer;
  }

  .branding h1:hover {
    color: #ccc;
  }

  .header-default {
    background-color: #141414;
  }

  .header-active {
    background-color: #111;
  }

  .burger {
    position: absolute;
    right: 2.5vh;
    top: 50%;
    transform: translateY(-50%);
  }

  .burger-1,
  .burger-2,
  .burger-3 {
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.5s ease;
  }

  .menu-active .burger-1 {
    transform: rotate(45deg);
    background-color: #045f63;
  }

  .menu-active .burger-2 {
    opacity: 0;
  }

  .menu-active .burger-3 {
    transform: rotate(-45deg);
    background-color: #045f63;
  }

  .menu-active div {
    margin: -2px 0;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    left: 0;
    width: 100%;
    height: 0vh;
    background-color: #111;
    transition: all 0.5s ease;
    text-align: center;
  }

  .nav-list-active {
    height: 92vh;
  }

  .nav-list ul {
    list-style: none;
    height: 50vh;
    margin-top: 5vh;
    flex-direction: column;
    justify-content: space-around;
    display: none;
  }

  .nav-list ul li {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    font-size: 1.5rem;
    opacity: 0;
    min-width: 50%;
    margin: 0 auto;
    color: white;
    cursor: pointer;
    user-select: none;
  }

  .nav-list li:hover {
    color: #ccc;
  }

  @keyframes linkSlide {
    from {
      transform: translateY(-25px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .nav-list-active ul {
    display: flex;
  }

  .focus {
    background-color: #045f63;
    border-radius: 5px;
    transition: all 0.5s ease;
    padding: 0.5vh 2vw;
  }

  .focus:hover {
    background-color: #324b4d;
    color: white;
  }

  /* Footer */
  footer {
    width: 100%;
    min-height: 8vh;
    background-color: #111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Landing Page */
  .landing-page {
    width: 100%;
    height: 90vh;
  }

  .index-landing {
    margin-top: -8vh;
    background-image: url(/img/ben-biederman.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2.5vw;
  }

  .index-landing p,
  .index-landing h2 {
    text-shadow: 0px 0px 10px #141414;
  }

  .landing-hook {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 8vh;
  }

  .index-landing p {
    color: white;
    padding: 0 0.15rem;
  }

  .index-landing h2 {
    font-size: 2.5rem;
    color: white;
  }

  .index-landing .primary-btn {
    margin-top: 5vh;
    opacity: 0;
    font-size: 2rem;
    transition: background 0.5s ease;
  }

  /* About Section */
  .about-section {
    width: 100%;
    outline: none;
    padding: 5vh 0;
  }

  .about-section,
  .portfolio-section {
    background-image: url(/img/funky-lines.png);
    background-position: center;
  }

  .content-container {
    width: 90%;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }

  .about-container img {
    width: 95%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .about-information {
    margin-top: 2.5vh;
    text-align: center;
    overflow: visible;
  }

  .about-information h3 {
    font-size: 2rem;
  }

  .about-information p {
    margin: 2.5vh auto;
    text-align: left;
    width: 95%;
  }

  .about-information button {
    margin-top: 2.5vh;
  }

  /* Portfolio */
  .portfolio-section {
    text-align: center;
    outline: none;
    min-height: 90vh;
    padding: 2.5vh 0;
  }

  .portfolio-header {
    width: 90%;
    margin: 0 auto;
    min-height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .portfolio-header h2 {
    font-size: 2rem;
    margin-bottom: -1vh;
  }

  .project-container {
    width: 90%;
    margin: 0 auto;
  }

  .project-container svg {
    width: 90%;
  }

  .project {
    width: 100%;
    margin: 2.5vh auto;
    color: #e8e8e8;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    padding-bottom: 1.25vh;
    transition: transform 0.5s ease;
    background-image: url(/img/diamonds.png);
  }

  .project:hover,
  .project:focus {
    box-shadow: 0px 0px 10px #000;
    transform: scale(1.02);
  }

  .project:hover h3 {
    color: #045f63;
  }

  .project-icons {
    width: 100%;
    text-align: right;
  }

  .project-icons img {
    padding: 1vh 1vw;
    cursor: pointer;
    width: 10%;
    transition: none;
  }

  .project-info {
    min-height: 30vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .project h3 {
    font-size: 1.5rem;
    width: 80%;
    margin: 0 auto;
    text-align: left;
    transition: color 0.25s ease;
  }

  .project p {
    font-weight: 100;
    width: 80%;
    margin: 1.25vh auto 0 auto;
  }

  .project p:last-of-type {
    margin: 5vh auto 0 auto;
    font-size: 0.75rem;
    text-align: center;
    color: #c9c9c9;
  }

  /* Contact Section */
  .contact-section {
    width: 100%;
    background-color: #141414;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 84vh;
    align-items: center;
  }

  .contact-info {
    width: 80%;
    margin-top: 5vh;
    color: #e8e8e8;
    text-align: center;
  }

  .contact-info h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2.5vh;
  }

  .contact-info p {
    font-weight: 100;
  }

  .contact-info button {
    margin-top: 5vh;
  }

  .contact-container figure {
    text-align: center;
  }

  .contact-container img {
    width: 80%;
  }
}

@media only screen and (min-width: 300px) {
  /* Naviation */
  .branding h1 {
    font-size: 2.25rem;
  }

  .nav-list ul li {
    font-size: 2rem;
  }

  /* Landing Page */
  .index-landing p {
    font-size: 1.25rem;
  }

  .index-landing h2 {
    font-size: 3rem;
  }

  /* About Section */
  .about-information h3 {
    font-size: 2.5rem;
  }

  /* Portfolio */
  .portfolio-header {
    min-height: 10vh;
  }

  .portfolio-header h2 {
    font-size: 2.5rem;
  }

  .project h3 {
    font-size: 2rem;
  }

  /* Contact */
  .contact-info p {
    font-weight: 300;
  }
}

@media only screen and (min-width: 768px) {
  /* Buttons */
  .primary-btn,
  .secondary-btn {
    padding: 0.25vh 2.5vw;
    font-size: 1.75rem;
  }

  /* Navigation */
  .header {
    justify-content: space-between;
  }

  .burger {
    display: none;
  }

  .branding {
    width: auto;
    margin-left: 2.5vw;
  }

  .branding h1 {
    font-size: 2rem;
  }

  menu {
    margin-right: 2.5vw;
    min-width: 50%;
  }

  .nav-list {
    position: static;
    width: 100%;
    margin: 0 auto;
    height: 8vh;
    background-color: transparent;
    transition: none;
    text-align: center;
  }

  .nav-list ul {
    height: 8vh;
    margin-top: 0;
    flex-direction: row;
    display: flex;
    align-items: center;
  }

  .nav-list ul li {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 1rem;
    opacity: 1;
    min-width: auto;
    margin: 0 1.25vw;
  }

  /* Landing Page */
  .landing-page {
    height: 75vh;
  }

  .index-landing p {
    padding: 0 0.2rem;
    font-size: 1.5rem;
  }

  .index-landing h2 {
    font-size: 3.5rem;
  }

  .index-landing .primary-btn {
    margin-top: 2.5vh;
  }

  /* About Section */
  .about-container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .about-container figure {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-information {
    width: 40%;
    margin: 0;
  }

  /* Portfolio */
  .project-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .portfolio-header {
    min-height: 5vh;
    padding-bottom: 2.5vh;
  }

  .project-info {
    min-height: 20vh;
  }

  .project {
    width: 32%;
    margin: 1.25vh 0.5%;
  }

  .project-icons img {
    padding: 0.5vh 0.5vw;
  }

  .project h3 {
    font-size: 1.5rem;
  }

  .project p:last-of-type {
    margin: 2.5vh auto 0 auto;
  }

  /* Contact Section */
  .contact-info {
    width: 70%;
    margin-top: 10vh;
  }

  .contact-info h3 {
    font-size: 2.5rem;
  }

  .contact-container img {
    width: 60%;
  }
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {
  /* Buttons */
  .primary-btn,
  .secondary-btn {
    padding: 0.25vh 2.5vw;
    font-size: 1.5rem;
  }

  /*   Navigation - Desktop     */
  .branding {
    margin-left: 7.5vw;
    width: auto;
  }

  .branding h1 {
    font-size: 2rem;
  }

  menu {
    min-width: 30%;
    margin-right: 7.5vw;
  }
  .nav-list ul li {
    font-size: 1rem;
    margin: 0 0.5vw;
  }

  .index-landing .primary-btn {
    font-size: 1.75rem;
  }

  /* Landing Page */
  .landing-page {
    height: 100vh;
  }

  .index-landing p {
    padding: 0 0.2rem;
    font-size: 1.25rem;
  }

  .index-landing h2 {
    font-size: 3rem;
  }

  .index-landing .primary-btn {
    margin-top: 2.5vh;
  }

  /* About Section */
  .about-container {
    justify-content: center;
  }

  .about-container figure {
    width: 30%;
    margin-right: 5%;
  }

  .about-information {
    width: 35%;
    margin-left: 5%;
  }

  /* Portfolio */
  .project {
    width: 24%;
    margin: 2.5vh 0.5%;
    position: relative;
  }

  .project-icons {
    outline: none;
  }

  .project-icons img {
    margin-top: 0.5vh;
    margin-right: 0.25vw;
    padding: 0.5vh 0.2vw;
    width: 8%;
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.5s ease;
  }

  .project:hover .project-icons img,
  .project:focus .project-icons img,
  .project-icons img:focus {
    opacity: 1;
    transform: translateY(0%);
  }

  .project p:last-of-type {
    margin: 5vh auto 0 auto;
  }

  /* Contact Section */
  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 92vh;
    align-items: center;
  }

  .contact-info {
    width: 30%;
    margin-top: 0vh;
    margin-left: 10%;
  }

  .contact-info h3 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2.5vh;
  }

  .contact-info p {
    font-size: 1rem;
  }

  .contact-info button {
    margin-top: 10vh;
  }

  .contact-container figure {
    height: 92vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .contact-container img {
    width: 100%;
    object-fit: contain;
  }
}
